body {
  height: 100vh;
  text-align: center;
  margin: 0;
}

.bkg {
  height: 100vh;
  background-image: url("./images/budapest.JPG");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
}

.container {
  display: inline-block;
  position: relative;
  right: 20%;
  height: 100vh;
}

#invite {
  position: relative;
  left: 0;
  margin: auto;
  height: 90vh;
  opacity: 90%;
  top: 50%;
  transform: translatey(-50%);
}

.button { /*RSVP button*/
  /* background-color: cornsilk; */
  background-color: linen;
  border: solid;
  border-color: black;
  border-width: 0.1em;
  border-radius: 10%;
  color: black;
  font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, 
    Verdana, 
    sans-serif;
  /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  text-decoration: none;

  /* 
  margin: 4px 2px;
  padding: 15px 32px; */

  line-height: 4vh;
  font-size: 2vh;
  height: 3.75%;
  width: 17.5%;

  cursor: pointer;
  position: absolute;
  top: 81.25%;
  left: 50%; /*Still need to account for width of button. Transform. */
  transform: translateX(-50%);
}

/* Mobile version */
@media only screen and (max-device-width: 480px) {
  .bkg {
    /* position: absolute;
    background-image: url("./images/budapest.JPG");
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
    transform: translateX(-21.5%) */
    height: 100vh;
    background-image: url("./images/budapest.JPG");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-position:center;
    background-size:cover;
    padding-left:50%;
  }

  .container {
    max-width: 90%;
    display: inline-block;
    position: absolute;
    right: 5%;
    height: 100vh;
  }

  #invite {
    max-width: 100%;
    margin: auto;
    height: 90%;
  }
}