body {
  height: 100vh;
  /*max-width: 1500px;*/
  text-align: center;
  margin: 0;
  border: 0;
}

.bkg {
  height: 100vh;
  background-image: url("./images/budapest.JPG");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  right: 20%;
  height: 100vh;
}

#invite {
  position: relative;
  left: 0;
  margin: auto;
  height: 90vh;
  opacity: 90%;
  top: 50%;
  transform: translatey(-50%);
}

#button-container {
  display: inline-block;
  position: absolute;
  /* height: 4%;
  width: 16%; */
  top: 51vh;
  left: 50vh; /*Still need to account for width of button. Transform. */
  transform: translateX(-50%);
  vertical-align: middle;
  border: none;
}

.button { /*RSVP button*/
  /* line-height: 100%;
  position: relative;
  height: 100%;
  font-size: 3vh; */
  margin: auto;
  padding: 0.4rem 0.25rem 0.4rem 0.25rem;
  font-size: 2.5vh;
  font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, 
    Verdana, 
    sans-serif;
  /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10%;
  color: black;
  background-color: cornsilk;
}
