html, body {margin: auto; 
    height: 100vh; 
    overflow: hidden;}

#bkg-img {
    opacity: 100%;
}

#iframe_container {
   background-color: white;
   opacity: 95%;
   height: 85vh;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

@media (max-width: 600px) { /* Mobile vertical <400px*/
   #iframe_container {
      width: 80%;
   }
}
@media (min-width: 600px) { /* normal screen >400px */
   #iframe_container {
      width: 50%;
   }
}

iframe {position: relative; 
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 4%;
    height: 93%;
    width: 93%;
    opacity: 100%;
}

/* Background Image Slideshow */
.slider {
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   position: relative;
  }
   
  .slider .slide {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   animation: slider 315s infinite;
  }
   
  .slider .slide:nth-child(1) {
     background-image: url('./images/slider/stephansdom.jpg');
     animation-delay: 0s;
  }
  
  .slider .slide:nth-child(2) {
     background-image: url('./images/slider/oper.jpg');
     animation-delay: -22.5s;
  }
  
  .slider .slide:nth-child(3) {
     background-image: url('./images/slider/museum.jpg');
     animation-delay: -45s;
  }
  
  .slider .slide:nth-child(4) {
     background-image: url('./images/slider/schoenbrunn.jpg');
     animation-delay: -67.5s;
  }
  
  .slider .slide:nth-child(5) {
     background-image: url('./images/slider/musikfreunde.JPG');
     animation-delay: -90s;
  }
  
  .slider .slide:nth-child(6) {
     background-image: url('./images/slider/naturhistorsche.jpg');
     animation-delay: -112.5s;
  }
  
  .slider .slide:nth-child(7) {
     background-image: url('./images/slider/not_stephansdom.JPG');
     animation-delay: -135s;
  }
  
  .slider .slide:nth-child(8) {
     background-image: url('./images/slider/rathaus.JPG');
     animation-delay: -157.5s;
  }
  
  .slider .slide:nth-child(9) {
     background-image: url('./images/slider/hofburg.jpg');
     animation-delay: -180s;
  }
  
  .slider .slide:nth-child(10) {
     background-image: url('./images/slider/interior.jpg');
     animation-delay: -202.5s;
  }
  
  .slider .slide:nth-child(11) {
     background-image: url('./images/slider/albertina.jpg');
     animation-delay: -225s;
  }
  
  .slider .slide:nth-child(12) {
     background-image: url('./images/slider/hofburg2.jpg');
     animation-delay: -247.5s;
  }
  
  .slider .slide:nth-child(13) {
     background-image: url('./images/slider/dome.jpg');
     animation-delay: -270s;
  }
  
  .slider .slide:nth-child(14) {
     background-image: url('./images/slider/plaza.jpg');
     animation-delay: -292.5s;
  }
  
  
  @keyframes slider {
    0%, 6%, 100% {
      opacity: 1;
      animation-timing-function: ease;
      z-index: 0;
    }
    7% {
      opacity: 0;
      animation-timing-function: step-end;
      z-index: 0;
    }
    99% {
      opacity: 1;
      animation-timing-function: step-end;
      z-index: -1;
    }
  }