html, body {margin: auto; 
    height: 100vh; 
    overflow: hidden;}

#bkg-img {
    opacity: 100%;
}

#iframe_container {
   background-color: white;
   opacity: 92.5%;
   height: 85vh;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

@media (max-width: 600px) { /* Mobile vertical <400px*/
   #iframe_container {
      width: 80%;
   }
}
@media (min-width: 600px) { /* normal screen >400px */
   #iframe_container {
      width: 50%;
   }
}

iframe {position: relative; 
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 4%;
    height: 93%;
    width: 93%;
    opacity: 100%;
}

/* Background Image Slideshow */
.slider {
    overflow: hidden;
    width: 100%; /* 100vh */
    height: 100vh;
    position: relative;
   }
    
   .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 60s infinite;
   }
    
   .slider .slide:nth-child(1) {
      background-image: url('images/stephansdom.jpg');
      animation-delay: 0s;
   }
   
   .slider .slide:nth-child(2) {
      background-image: url('images/belvedere.png');
      animation-delay: -12s;
   }
   
   .slider .slide:nth-child(3) {
      background-image: url('images/museum.jpg');
      animation-delay: -24s;
   }
   
   .slider .slide:nth-child(4) {
      background-image: url('images/musikfreunde.JPG');
      animation-delay: -36s;
   }
   
   .slider .slide:nth-child(5) {
      background-image: url('images/not_stephansdom.JPG');
      animation-delay: -48s;
   }
   
   
   @keyframes slider {
     0%, 17%, 100% {
       opacity: 1;
       animation-timing-function: ease;
       z-index: 0;
     }
     20% {
       opacity: 0;
       animation-timing-function: step-end;
       z-index: 0;
     }
     97% {
       opacity: 1;
       animation-timing-function: step-end;
       z-index: -1;
     }
   }